/* the finals 's font */

:root {
  --the-finals-red: #ba3a45;
  --NYU--violet: #4e1586;
  --NYU--ultra-violet: #7c22d8;
  --debug-green: rgb(0, 255, 34);
}

@font-face {
  font-family: "BebasNeue";
  src: url("../fonts/BebasNeue-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

html, body{
  width: 100%;
  height: 100%;
  margin: 0;
}


.wrap {
    width: 100%;
    min-height: 100vh;
    background-color: white;
    border: 3px solid var(--debug-green); /* debug */
}

div header{
  border: 3px solid var(--debug-green); /* debug */
}

div footer{
  border: 3px solid var(--debug-green); /* debug */
}

/* firstline nav */
.firstline_nav {
  display: flex;
  align-items: center;      
  justify-content: space-between;
  padding: 20px 40px;
  background-color: var(--NYU--violet);
  border: 3px solid var(--debug-green); /* debug */

}

.the_finals_logo img{
    height: 40px;
    width: auto;
    margin: 0;
    border: 3px solid var(--debug-green); /* debug */
}

.firstline_nav_tabs {
    display: flex;
    gap: 40px;
    justify-content: flex-end; 
    align-items: center;
    border: 3px solid var(--debug-green); /* debug */

}
.nav_item h1 {
  margin: 0;
  border: 3px solid var(--debug-green); /* debug */

}

.nav_item a {
  text-decoration: none;
  color: white;
font-style: italic;
letter-spacing: 2px;
}

.nav_item a:hover {
  color: var(--NYU--ultra-violet);
}

.actual_contents {
  padding: 40px;
  background-color: white;
}
.big_title{
      border: 3px solid var(--debug-green); /* debug */
}

.big_title h1{
  font-family: "BebasNeue", sans-serif;
  font-size: 48px;
  color: var(--NYU--ultra-violet);
  margin: 0;
  word-spacing: normal;
  letter-spacing: 2px;
}

/* footer bar */
.page_footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--NYU--violet);   /* 和顶部一致 */
    padding: 20px 40px;
    margin-top: 80px;
}

/* 左侧 NYUSH logo */
.page_footer_NYUSH img {
    height: 50px;
    width: auto;
    border: 3px solid var(--debug-green); /* debug */
}

.page_footer_word {
    font-family: "BebasNeue", sans-serif;
    font-size: 28px;
    color: white;
    letter-spacing: 2px;
    font-weight: bold;
    font-style: italic;
    border: 3px solid var(--debug-green); /* debug */
}